* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

body {
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;

  /* NEW */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


/* NAVBAR */
nav {
  background: #0f172a;
  padding: 15px 40px;
}

nav a {
  color: #ffffff;
  margin-right: 20px;
  text-decoration: none;
  font-weight: 600;
}

nav a:hover {
  text-decoration: underline;
}

/* CONTAINER */
.container {
  max-width: 1000px;
  margin: 40px auto;
  padding: 0 20px;
}

/* HEADINGS */
h1 {
  font-size: 36px;
  margin-bottom: 15px;
  color: #0f172a;
}

h2 {
  margin-top: 30px;
  margin-bottom: 10px;
  color: #1e293b;
}

/* TEXT */
p {
  margin-bottom: 15px;
  font-size: 17px;
}

/* LIST */
ul {
  margin-left: 20px;
}

ul li {
  margin-bottom: 8px;
}

/* FOOTER */
footer {
  background: #0f172a;
  color: #fff;
  text-align: center;
  padding: 15px;
  margin-top: 60px;
}

